@page "/auth-complete"
@using Microsoft.JSInterop
@inject NavigationManager Navigation
@inject IJSRuntime JS

<h3>Loading session...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var token = query.Get("token");
        var email = query.Get("email");
        var name = query.Get("name");

        if (!string.IsNullOrEmpty(token))
        {
            await JS.InvokeVoidAsync("localStorage.setItem", "authToken", token);
            await JS.InvokeVoidAsync("localStorage.setItem", "userEmail", email);
            await JS.InvokeVoidAsync("localStorage.setItem", "userName", name);
            Navigation.NavigateTo("/tasks");
        }
        else
        {
            Navigation.NavigateTo("/login");
        }
    }
}
